@import url('https://fonts.googleapis.com/css2?family=Alata&family=Amatic+SC&display=swap');

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", sans-serif;
  font-size: 32px;
  --text-primary: rgb(22, 40, 37);
  --text-secondary: rgb(255, 255, 255);
  --shadow: #3f6a632c;
  --primary-blue: rgb(0,255,230);
  --secondary-blue: #e9fffb;
  --primary-gray: rgb(242, 242, 242);
  --secondary-gray: rgb(114, 127, 127);
  --primary-gold: rgb(255, 202, 44);
  --margin-standard: 64px;
}

body {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 24px;
  font-family: "Alata";
  color: var(--text-primary);
  background-color: var(--primary-blue);
  border: 0;
  border-radius: 48px;
  height: 40px;
  width: 135px;
  filter: drop-shadow(0 8px 4px var(--shadow));
}

button:hover {
  background-color: var(--primary-gold);
}

.edit-svg, .delete-svg {
  height: 70%;
  width: auto;
} 

.svg:hover {
  filter: invert(90%) sepia(9%) saturate(7495%) hue-rotate(334deg) brightness(108%) contrast(102%);
}

/* header stuff */
.header {
  height: 20%;
  color: var(--text-primary);
}

.header-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-blue);
  border-radius: 0 0 24px 24px;
  filter: drop-shadow(0 8px 10px var(--shadow));
}

.search-components {
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: var(--margin-standard);
}

.search-bar {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: var(--primary-gray);
  border-radius: 30px;
}

.input-search {
  font-family: "Alata";
  font-size: 24px;
  border: 0;
  width: 95%;
  background-color: var(--primary-gray);
}

input:focus{
  outline: none;
}

.search-svg {
  opacity: .5;
}

.header-bar-buttons {
  margin-right: var(--margin-standard);
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.header-bar-buttons-push {
  width: 40%;
}

/* main content */
main {
  flex: auto;
  margin: 0 var(--margin-standard) 0 var(--margin-standard);
}

div.content {
  height: 100%;
  display: flex;
  align-items: center;
}

div.all-book-cards-view {
  width: 100%;
  height: 80%;
  border-radius: 24px;
  background-color: var(--primary-gray);
  box-shadow: inset 0 0 10px var(--shadow);
  display: flex;
  align-items: center;
  overflow-x: auto;
}

div.card {
  height: 80%;
  width: 15%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 16px;
  background-color: white;
  border: 3px solid black; 
  border-radius: 24px;
  filter: drop-shadow(0 8px 2px var(--shadow))
}

.card-field.bottom-row {
  display: flex;
  width: 94%;
  align-items: center;
  justify-content: space-between;
}

/* footer stuff */
.footer {
  height: 20%;
  background: rgb(0,255,230);
  background: linear-gradient(45deg, rgba(0,255,230,1) 3%, rgba(255,255,255,0.9) 81%);
}

.footer-pattern {
  height: 100%;
  background-image: url(resources/cube-pattern.svg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  margin: var(--margin-standard);
  font-weight: 900;
  display: flex;
  flex-direction: column;
}

.footer-text-item:hover {
  color: var(--primary-gold);
}

.footer-text.left {
  color: white;
  text-shadow: -1.5px 1.5px 0 #000,
  1.5px 1.5px 0 #000,
  1.5px -1.5px 0 #000,
 -1.5px -1.5px 0 #000;
}

.footer-text.right {
  color: black;
  text-shadow: -1.5px 1.5px 0 #ffffff,
  1.5px 1.5px 0 #ffffff,
  1.5px -1.5px 0 #ffffff,
 -1.5px -1.5px 0 #ffffff;
  
}

/* modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 15vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  padding: 5px 5px 5px 20px;
  border: 1px solid var(--secondary-gray);
  width: 350px;
  border-radius: 10px;
}

/* The Close Button */
.close-modal {
  color: var(--secondary-gray);
  font-size: 28px;
  font-weight: bold;
  margin-bottom: auto;
  margin-right: 5%;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-form {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-right: auto;
  padding-top: 5px;
}

.form-title {
  font-size: xx-large;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.field {
  border: 0;
  margin-left: auto;
  width: 60%;
  font-family: "Alata";
  background-color: var(--primary-gray);
  padding: 16px 24px;
  outline-color: var(--secondary-gray);
  border-radius: 5px;
  font-size: 24px;
}

.form-input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
}

.container {
  position: relative;
  margin-bottom: 28px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 144px;
  height: 25px;
  width: 25px;
  background-color: rgba(44, 66, 164, 0.198);
}

.container:hover input ~ .checkbox {
  background-color: var(--drawer-color);
}

.container input:checked ~ .checkbox {
  background-color: var(--blue-1);
}

.checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkbox:after {
  display: block;
}

.container .checkbox:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-read {
  padding-top: 10px;
}

.submit-modal-form {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}